DATABASE_URL=
GOOGLE_MAPS_API_KEY=
GOOGLE_PLACES_ENDPOINT=https://places.googleapis.com/v1/places:searchText
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
FROM_NAME=Aionsite
FROM_EMAIL=contacto@aionsite.com.mx
CRON_SECRET=
